.search_area{
    display: block;
    position: absolute;
    /* background-color: rgba(96, 125, 139, 0.3); */
    height: 100%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 85%;
    top: 10%;
    left: 5%;
    padding: 3%;
}

.search_result{
    /* border: 1px solid black; */
    display: inline-flex;
    background-color: white;
    margin-bottom: 3%;
    padding: 2%;
}

.search_result:hover{
    box-shadow: 0 4px 8px 0 rgba(28, 29, 29, 0.616);
    cursor: pointer;
}

.result_content{
    display: block;
    margin-left: 5%;
}

.result_content h1{
    margin-top: -1%;
}

.result_content .para{
    margin-top: -2%;
    color: lightgrey;
}

.search_result img{
    width: 30%;
    height: 200px;
}

.search_result img:hover{
    cursor: zoom-in;
}
.checked {
    color: orange;
}
  
@media screen and (max-width: 680px){
    .search_result{
        display: block;
        text-align: center;
    }
    .search_result img{
        width: 100%;
        height: 250px;
    }
}